:root {
  --navbarHeight: 60px;
  --themeColor: rgb(0, 175, 188);
  --backGroundColor: rgb(230, 230, 230);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  height: 100vh;
  display: flex;
}

body {
  margin: 0;
  display: flex;
  flex: 1;
}

#app {
  margin: 0px;
  display: flex;
  flex: 1;
}

#main {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#navbar {
  background-color: var(--themeColor);
  display: flex;
  align-items: center;
  flex: 0;
  min-height: var(--navbarHeight);
}

.navButton {
  margin: 10px;
  padding: 2px;
  border-radius: 5px;
  font-size: x-large;
}

#container {
  display: flex;
  flex: 1;
  background-color: red;
}

.entryPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--backGroundColor);
}

.submissionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: fit-content;
  width: 288px;
  border-radius: 7px;
  box-shadow: 2px 2px 6px black;
  background-color: white;
  margin: 10px;
}

.formLabel {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.butt {
  width: 100%;
  margin-top: 5px;
}

#home {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--backGroundColor);
}

.contentDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--navbarHeight) - 25px);
  border: 1px solid var(--themeColor);
  background-color: rgb(240, 240, 240);
  padding: 20px;
  margin: 10px;
  overflow: auto;
}

#formDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCard {
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 6px black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.postCard:last-of-type {
  margin-bottom: 0px;
}

.postCard div {
  padding: 10px;
}

#postDescription {
  border-top: 1px solid var(--themeColor);
  min-height: 100px;
  max-height: 100px;
  overflow: auto;
}

.postInfo {
  border-top: 1px solid var(--themeColor);
  display: flex;
  flex-direction: row;
}

.postInfo p {
  padding-right: 30px;
}

#messageDisplayDiv {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow: auto;
}

.messageCard {
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 6px black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.messageCardInfo {
  padding: 10px;
  border-top: 1px solid var(--themeColor);
}

.messageCard h1 {
  border-top: 0px;
}

#selector {
  margin-top: 10px;
}

#messageFormContainer {
  width: 20%;
}

#message {
  padding-top: 0px;
}

#willDeliverInputContainer {
  display: flex;
  flex-direction: row;
}

#deleteButton {
  margin-right: 15px;
}

#onlyAuthors {
  padding: 0px;
}
